<h1>Knockout Fixtures Released</h1>

<p>
  Hi <%= @user.name %>, the next round of your World Cup fixtures are available. Sign in to <a href="http://worldcuppredict.win">World Cup Predict</a> to continue picking. Good luck!
</p>

