<h1>Next Round of Fixtures</h1>

<p>
  Hi <%= @user.name %>, the knockout round is almost here!
</p>
<p>
 The knockout fixtures, which are already decided, are available for chosing but the remaining three groups will be completed within the next 24 hours. All knockout predictions will be locked when the <strong>first match</strong> kicks off.
</p>
<p>
 You can get a head-start by signing into <a href="http://worldcuppredict.win">World Cup Predict</a> to pick your World Cup winner. Good luck!
</p>

